body {
    background-color: #f0fff0;
    background: #f0fff0;
}

header {
    background-color: #A5D6A7;
/*      GRADIENT HEADER
    background: -webkit-gradient(linear, left top, left bottom, from(#81C784), to(#A5D6A7));
	background: -moz-linear-gradient(top,  #81C784,  #A5D6A7);
*/
    height: 20%;
}

header img {
    width: 359px;
    height: 120px;
    display: inline;
    margin: 5% 2%;
}


h1{
    font-size: 550%;
/*    font-variant: small-caps;*/
/*    font:serif;*/
    font-weight: 700;
/*    font-stretch:ultra-expanded;*/
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding-left: 3%;
/*    color: darkgreen;*/
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 150%;
}

@import url(https://www.fontsquirrel.com/fonts/Bebas);
.companyName {
/*    text-transform: uppercase;*/
    font-variant: small-caps;
    font: Bebas;
/*
    color: darkgreen;
    text-outline: 0.5em black solid;
    text-shadow: 0.5em black solid;
*/
}

nav#header {
    width: 100%;
    height: 40px;
    vertical-align: middle;
/*    padding: 0 20%;*/
/*    border: solid black 1px;*/
    
}



/*    >>>>>>>>>>  FOOTER STYLING   <<<<<<<<<<   */

footer {
    background-color: #A5D6A7; /*original color #66BB6A*/
    clear: both;
    border-top: 2px black solid;
}

footer img {
    width: 250px;
    height: 250px;
    display: inline;
/*    padding: 40px;*/
    margin: 3%;
    border: solid black 2px;
/*    put a black border around the image to make it match*/
}

nav#footnav {
    display: inline-block;
    width: 100px;
/*    make the width a fixed amount     <----- */
    vertical-align: middle;
/*    padding-bottom: 20px;*/
/*    border: solid 1px black;*/
/*    border just to show where the navbar div is */
}

footer div {
/*    font:serif;*/
    text-align: center;
/*    font-variant: small-caps;*/
    display: inline-block;
/*    padding-left: 20%;*/
    position: relative;
    left: 3%;
    width: 50%;
    height: 50%;
    vertical-align: middle;
/*    border: 1px black solid;*/
}

#footerName {
    font-size: 2.7em;
    padding-left: 7%;
}

.infoL {
    font-variant: small-caps;
    float: left;
    width: 45%;
    height: 65px;
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.5em;
}

.infoR {
/*    margin-left: 10px;*/
    font-style: normal;
    display: block;
    float: right;
    width: 45%;
    height: 65px;
    font-size: 1.4em;
}

.footLink {
    color: royalblue;
    font-size: 1.1em;
    font-weight: 500;
}

a#footnumber {
    background-color: #A5D6A7;
    color: royalblue;
    font-size: 1.2em;
/*    text-decoration: underline;*/
    font-weight: 500;
/*    font-family: Titillium Web, Open Sans, Lato, Varela Round Montserrat; mont is best*/
/*    font-family: Baskerville, Baskervald ADF Std;*/
}

#footEmail {
    font-style: normal;
    font-size: 1.2em;
}

#footerSlogan {
    clear: both;
    padding-top: 4%;
    padding-left: 6%;
/*    font-variant: small-caps;*/
    font-family: Baskerville, Baskervald ADF Std;
    font-style: italic;
}



/*   >>>>>>>>   BUTTONS   <<<<<<<<  */

.button {
/*
	display: inline-block;
	zoom: 1;  zoom and *display = ie7 hack for display:inline-block 
*/
    display: inline;
    width: 100%;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px Arial, Helvetica, sans-serif;
/*	padding: .5em 2em .55em;*/
    padding-left: auto;
    padding-right: auto;
    padding-top: .5em;
    padding-bottom: .5em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: 0.1em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

table.buttons { 
    width: 100%;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.buttons button { 
    min-width: 90px;
}

a.navbutton {
    color: #d7d7d7;
}

table.buttons a {
    width: 100%;
    min-width: 60px;
}


/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

.blackCurrent {
    background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}


/*  >>>>>>>>    AboutUs/index.HTML  <<<<<<  */
div#fillerab {
    padding: 2%;
    padding-top: 4%;
    text-align: center;
    height: 725px;
    border: solid 1px black;
    

}	

h3#titleab{
    font-variant: small-caps;
    padding-left: 1.6%;
    padding-bottom: 0%;
    font-size: 2em;
}
p#introab{
    padding-top: 1%;
    text-align: justify;
    padding-right: 2%;
    font-size: 1.25em;
    
}

img#ceo1ab{
    float: left;
    display: inline-block;
    padding-right: 2%;
    padding-top: 1%;
    padding-left: 2%; 
}




/* >>>>>>>>>>>  SERVICES PAGE STYLING <<<<<<<<<< */

.servicesContent {
    padding: 2%;
    padding-bottom: 10%;
    height: 120%;
    border: solid 1px black;
}

p#servicesIntro {
    font-size: 1.7em;
    padding: 3% 20% 0% 20%;
    text-align: center;
}

#servicesTable {
    text-align: center;
    font-variant: small-caps;
    border-spacing: 8px;
/*    display:inline-table;*/
/*    margin: 5% 20% 5% 20%;*/
    margin-top: 3%;
    margin-bottom: 8%;
    align-content: center;
/*
    margin-left: 100px auto;    neither of these work
    margin-right: auto 20%;     cannot figure out how to center table
*/
    padding-left: 17%;
    padding-right: 15%;
}

.centerTable { 
    display: inline-block;
    margin: auto;
    align-content: center;
}

#servicesTable th {
/*    font-variant: small-caps;*/
    font-size: 1.8em;
    text-transform: uppercase;
    color: darkgreen;
    border-bottom: 1.5px solid;
    padding: 10px 20px 5px 20px;
    text-align: center
}

tr.first>td {
    padding-top: 15px;
/*    margin-top: 700px;*/
}

/*
tr {
    padding-bottom: 10px;
}
*/

#servicesTable td {
    font-size: 1.5em;
}

.center {
    margin: auto;
    display: block;
/*    width: 50%;*/
    text-align: center;
}

#prices {
    width: 60%;
    margin: auto;
    background-color: #C8E6C9;
    border: 2px solid darkgreen;
    padding: 1%;
    font-size: 1.25em;
    border: 2px ridge darkgreen;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#priceTitle {
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 1.8em;
    text-transform: uppercase;
    color: darkgreen;
}

p#serviceBottom {
    padding: 7% 12% 0% 12%;
    font-size: 1.4em;
}

h3#serviceContact{
    font-size: 1.5em;
}

a.serviceLink {
    color: royalblue;
    font-size: 1.1em;
    text-decoration: underline;
    font-weight: 600;
/*    font-family: Titillium Web, Open Sans, Lato, Varela Round Montserrat; mont is best*/
/*    font-family: Baskerville, Baskervald ADF Std;*/
}


/*      >>>>>>>>>>      REVIEWS     <<<<<<<<<<      */

div#fillerpo {
    padding: 4%;
    text-align: center;
    height: 100%;
    border: solid 1px black;
}	

img#golfpo {
    margin: 2%;
    width: 90%;
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto;
    border: solid 5px black;
}


/*      actually both images        */
img#backpo {
    width: 75%;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 3% auto;
    border: solid 5px black;
}

/*overlayed text on header golf course image*/
.containerpicpo {
    position: relative;
    text-align: center;
    color: white;
}
.centeredtextpo {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .;
    font-size: 2.5em;
    font-family:  cursive;
}

.nextlinepo{
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .8;
    font-size: 20px;
    font-family:  cursive;
}

/*overlayed text on header backyard image*/
.containerbackpo {
    position: relative;
    text-align: center;
    color: white;
}
.centeredbacktextpo {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .;
    font-size: 2em;
    font-family:  cursive;
}

.nextlinebacktextpo{
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .8;
    font-size: 20px;
    font-family:  cursive;
}

/* more testimonies*/
div#moretestpo{
    margin-left: 12%;
    margin-right: 12%;
    margin-top:3%;
    margin: 3% 12%;
}

#titleab {
    margin-top: 10%;
}

#introab {
    margin-top: 3%;
}



/*      >>>>>>>>>>      PORTFOLIO & FAQs        <<<<<<<<<<    */

/*be sure to change the background-colors that are A5D6A7 to f0fff0 */
.col-lg-12{
    background-color: #f0fff0;
    border: black 5px double;
    text-align: center;
}
.col-lg-6{
    border: dashed 2.5px black;
    text-align: center;
    background-color: #f0fff0;
    height: 100px;
}
.col-lg-8{
    border: dashed 2.5px black;
    text-align: center;
    background-color: #f0fff0;
}
.col-lg-2{
    background-color: #f0fff0;
    padding:0px;
    height: 100px;
}

.row{
     background-color: purple;
     border: none;
}
.container-fluid{
         background-color: #f0fff0;
         border: none;
         color: black;
}
body{
         background-color: #f0fff0;
         

}
.row{
    background: #f0fff0;
/* WAS PURPLE, DOUBLE CHECK COMPLETED PRODUCT TO MAKE SURE*/
    
}
.carousel-inner{
    height: 1000px;
}

/*padding on portfolio page*/
div#portpad{
    padding: 3%;
    
}




/*   >>>>>>>>>>>     CONTACT PAGE STYLING    <<<<<<<<<   */

.contactContent {
    padding: 3%;
    padding-bottom: 10%;
/*  why does the height not respond to percentages? cant make it 100%  */
    height: 100%;
/*    min-height: 100em;*/
/*    border: solid 1px black;*/
}

#contactCol1 {
    width: 57%;
    height: 100%;
    padding: 2% 4%;
    float: right;
/*    border: solid 1px black;*/
}

#contactCol1 p {
    font-size: 1.5em;
    padding: 1.0em;
}

/*   INITIAL FORM CSS   */
/* 
fieldset {
    border: 2px solid gray;
    width: 100%;
    padding: 3%;
    margin: auto;
}

div#form {
    padding-left: 30pt;
}

form {
    padding-left: 20px;
    margin: 10px;
    padding-bottom: 10px;
}

legend {
    padding-left: 20px;
    width: 200px;
}

COMMENT: targets any form coming right after a legend element
legend+form {
    padding: 10px;
}

COMMENTED OUT
textarea {
    margin-left: 2px;
}

form>input {
    background-color: #b9e4e3;
    font-weight: bold;
    border: 2px;
    border-radius: 5px;
}


form#buttons {
    display: block;
    margin: auto;
    width: 80%;
}

COMMENTED OUT
.formLabel {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 7px;
}
 */

#formBottom {
    padding-top: 25px;
/*    margin: auto;*/
    text-align: center;
}

.contactLink {
    color: royalblue;
    font-size: 1.0em;
    display: inline-block;
    text-decoration: underline;
    font-weight: 500;
}

#contactCol2 {
    width: 40%;
    height: 100%;
    padding: 2%;
/*    padding-top: 3%;*/
    float: left;
/*    border: 1px solid black;*/
}
    
    
#quickContact {
    margin-top: 5%;
    padding: 4%;
    padding-bottom: 15%;
    width: 95%;
    height: 100%;
/*    min-height: 25em;*/
    font-size: 1.4em;
    vertical-align: middle;
    background-color: #C8E6C9;
/*    border: 2px solid darkgreen;*/
    border: 10px ridge darkgreen;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


#quickContactTitle {
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 1.55em;
/*    text-transform: uppercase;*/
/*    color: #1B5E20;*/
    font-variant: small-caps;
}

div#contactCol2>div {
    margin-top: 4%;
}

#contactAddress {
    padding: 8% 4% 0% 4%;
/*    border: 1px solid black;*/
}

#contactAddress p {
    font-size: 1.2em;
    font-variant: small-caps;
}

#quickContactLink {
    padding: 5%;
    display: inline-block;
    width: 100%;
    font-size: 1.1em;
    font-weight: 500;
    color: royalblue;
/*    border: 1px solid black;*/
}

/*  phone/email table */
/*
table#contactTable {
    padding-top: 15px;
    margin: auto;
    border: 1px black solid;
}

#contactTable td{
    padding: 0 4% 0 4%;
    border: 1px black solid;
}

#contactTable h5 {
    float: right;
}
*/

div#contactFB {
    padding: 10% 2%;
    margin: auto;
    width: 100%;
    max-width: 250px;
    max-height: 75px;
/*    border: 1px solid black;*/
}

div#contactPicture {
    position: relative;
    width: 95%;
    height: 40%;
    margin-top: 15%;
    padding-top: 15%;
    clear: both;
/*    border: 1px solid black;*/
}

img#familyTree {
    width: 90%;
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto;
    clear: both;
    vertical-align: middle;
}


/*      CONTACT FORM        */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
#contactForm> {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contactForm {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 15px;
    color: #777;
/*    background: #4CAF50;*/
    background: #F9F9F9;
    padding: 5px 25px 20px 25px;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contactForm h3 {
    text-align: center;
    display: block;
    font-size: 2.0em;
    font-weight: 300;
    margin-bottom: 30px;
    font-variant: small-caps;
}

/*
#contactForm h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
*/

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm input[type="tel"],
#contactForm input[type="url"],
#contactForm textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contactForm input[type="text"]:hover,
#contactForm input[type="email"]:hover,
#contactForm input[type="tel"]:hover,
#contactForm input[type="url"]:hover,
#contactForm textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contactForm textarea {
  height: 160px;
  max-width: 100%;
  resize: none;
}

#contactForm button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contactForm button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contactForm button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contactForm input:focus,
#contactForm textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}



/*   INDEX FILLER   */
/*
#content {
    margin: 1%;
    padding: 2%;
    height: 500px;
    border: 1px solid black;
}*/


