* {
    background-color: #f0fff0;
}

.header {
    width: 100%;
    height: 60%;
    float: left;
    text-align: center;
    font-size: 150%;
    color: darkgreen;
    font-variant: small-caps;
    background-color: #f0fff0;
/*    border: 4px solid darkgreen;*/
}

header img, h1 {
/*    border: black 2px double;*/
    overflow: auto;
    float: left;
    padding: 0 40px 0 40px;
    vertical-align: middle;
}

header img {
    padding-left: 15%;
}

.col1 {
    width: 20%;
    height: 100%;
    float: left;
    /*
    position: fixed;
    top 500px;
    bottom: 20%;*/
    text-align: center;
    background-color: #f0fff0;
    border: 2px solid darkgreen;
/*  dark green is #006400  */
    margin: 7%;
    padding-bottom: 4%;
}

.col2 {
    width: 60%;
    height: 100%;
    float: right;
    background-color: #f0fff0;
    text-align: center;
    border: 2px solid darkgreen;
}

div {
    margin: 2px;
    padding: 1%;
}

img {
    display: block;
    margin: auto;
}

img.drain {
    width=512px;
    height=384px;
}

/*div a {
    padding: 1%;
    margin: 3%;
}*/

h3 {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: darkgreen;
    font-variant: small-caps;
}

.describe {
    font-style: italic;
    text-align: center;
    caption-side: bottom;
}

/*
a.button {
    height: 10px;
    background-image: url(buttons/home_black.png);
    background-size: cover;
    display: inline-block;
}
*/

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/*blue button*/
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
}
    
/*green button*/
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
}

.darkgreen {
	color: #e8f0de;
	border: solid 1px #004200;
	background: #017E01;
	background: -webkit-gradient(linear, left top, left bottom, from(#218321), to(#015601));
}
.darkgreen:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
}
.darkgreen:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
}

.lightgreen {
	color: #e8f0de;
	border: solid 1px #81A454;
	background: #9ACA5B;
	background: -webkit-gradient(linear, left top, left bottom, from(#BCD897), to(#95C454));
/*    background: -webkit-gradient(linear, left top, left bottom, from(#C0E496), to(#87A86F));*/
}
.lightgreen:hover {
	background: #89B74E;
	background: -webkit-gradient(linear, left top, left bottom, from(#98C062), to(#6A8E39));
}
.lightgreen:active {
	color: #BBDA94;
	background: -webkit-gradient(linear, left top, left bottom, from(#95C454), to(#BCD897));
}
